/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    font-size: 62.5%;
}

.box{
    width: 80%;
    margin: 10px auto 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px 10px;
}
/* Header */
.box-header{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 106, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.box-nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-nav .list{
    width: 20%;
}
.style-list{
    color:white;
    font-size: 1.6rem;
    margin-right: .5rem;
    font-weight: 700;
}
.box-nav .logo{
    width:60%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo > img{
    width: 200px
}

.box-nav .pay{
    width: 20%;
    text-align: end;
}
/* Main */
.box{
    margin-top: 100px;
}
.cont{
    position: relative; 
    width: calc(100% / 3 - 10px);
    }
.cont img{
    max-width: 100%;
    
}
.cont #due{
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease-in-out;
}
.card{
    position: relative;
}
.discount{
    position: absolute;
    left: 0;
    bottom: 3em;
    display: flex;
}
 .discount > h3{
    margin-right: .5em;
    color: white;
    padding: .4em .8em;
    font-size: 1.4rem;
} 
 
/* Hover Effects */
.cont:hover #due{
    display: none;
}
/* _____________ */

/* Tipography */
.text h3{
    text-transform: uppercase;
    font-size: 1.8rem;
}
.text p{
    font-size: 1.3rem;
}
.text h4{
    font-size: 1.4rem;
}
.white{
    color: white;
    font-size: 1.8rem;
}
.mr{
    margin-right: .8rem;
}
/* Unity */
.red{
    color: red;
}
.canc{
    color: black;
    text-decoration: line-through;
    font-weight: 600;
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: green;
}
.heart{
    font-size: 3.5rem;
    position:absolute;
    top: .5em;
    right: 0;
    padding: .5rem 1.4rem;
    background-color: white;
}




